@if(data){
    <div>


<table class="table table-bordered table-striped text-wrap">
  <thead>
    <tr class="align-middle text-center small">
      <th >
        User Name
      </th>
      <th >
        First Name  
      </th>
      <th >
         Last Name
      </th>
      <th >
       Age
      </th>
      
    </tr>
  </thead>
  <tbody>
    @for (row of data ; track row) { 
       <tr class="align-middle" > 
        <td>{{row.username}}</td>
        <td>{{row.firstname}}</td>
        <td>{{row.lastname}}</td>
        <td>{{row.age}}</td>
        
      </tr>
    }
  </tbody>
</table>
    </div>}
